body,
html {
  overflow: hidden;
  height: 100vh;
}
#pageFirst,
body,
html {
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  position: relative;
  font-size: 62.5%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
}
.none {
  display: none;
}
.center {
  text-align: center;
}
#video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#pageFirst {
  width: 100%;
}
#pageFirst #iosWxMini {
  text-align: center;
  color: #ffc935;
  font-size: 2vh;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 22vh;
}
#pageFirst .btn-group {
  position: relative;
  z-index: 2;
  text-align: center;
}
#pageFirst .btn-group .btnDown {
  margin-top: 8vh;
  margin-bottom: 5vh;
}
#pageScan .page-scan-bg {
  width: 130%;
  margin-left: -15%;
}
#pageScan .scan-line {
  position: relative;
  z-indx: 10;
  margin-top: 20vh;
  animation: scan 3s infinite linear;
  -webkit-animation: scan 3s infinite linear;
}
#pageScan .scan-line > img {
  width: 64%;
  margin-left: 18%;
}
@keyframes scan {
  0% {
    margin-top: 20vh;
  }
  100% {
    margin-top: 80vh;
  }
}
@-webkit-keyframes scan {
  0%,
  100% {
    margin-top: 80vh;
  }
}
#pageLottery .lottery-turntable {
  position: relative;
  top: 32vh;
  left: 20%;
  z-index: 2;
  text-align: center;
  width: 60%;
}
#pageLottery .lottery-turntable .turntable {
  position: relative;
  width: 100%;
}
#pageLottery .lottery-turntable .turntable-arrow {
  position: absolute;
  top: 37%;
  left: 40%;
  width: 20%;
  transform-origin: 50% 36%;
  transition-timing-function: ease;
}
#pageLottery .lottery-ext {
  position: relative;
  top: 33vh;
  z-index: 3;
  text-align: center;
}
#pageLottery .lottery-ext .title {
  font-size: 1rem;
  font-weight: 700;
}
#pageLottery .lottery-ext .btn {
  max-width: 100%;
  margin-top: 1rem;
}
#pageLottery #lotterySuccess .desc {
  font-size: 0.8rem;
}
#pageLottery #lotteryFail #btnAgain,
#pageLottery #lotterySuccess #btnContact {
  width: 30%;
}
#pageContact .main {
  position: relative;
  top: 0;
  z-index: 2;
}
#pageContact .main .input-group {
  margin-top: 44vh;
  margin-left: 43%;
  font-size: 1.3rem;
}
#pageContact .main .input-group > input[type="text"] {
  display: block;
  width: 45%;
  height: 3vh;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 0.9rem;
  margin-bottom: 4vh;
}
#pageLoading,
#pageWxIos .tip {
  color: #fff;
  font-size: 1rem;
  position: absolute;
}
#pageContact .main .input-group #inputAddress {
  margin-left: 5%;
}
#pageContact .main #btnSubmitContact {
  margin-top: 6rem;
  width: 25%;
}
#pageContact #msgSubmitOK .contactSubmitOK {
  position: absolute;
  top: 0;
  z-index: 50001;
  width: 100%;
}
#pageContact #msgSubmitOK .contactSubmitOK .tip {
  width: 50%;
  margin-top: 30vh;
  border-radius: 0.4rem;
}
#pageLoading {
  z-index: 5;
  top: 40vh;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
#pageLoading .loading-images {
  min-width: 20vh;
  width: 80%;
  height: 10vh;
  margin: 0 auto;
  text-align: center;
}
#pageLoading .loading-images #loading {
  width: 100%;
  margin: 0 auto;
  height: 5vh;
}
#pageLoading .loading-line {
  margin-bottom: -3.2vh;
  width: 80%;
  height: 0.5vh;
}
#pageLoading .loading-percent {
  margin-top: 3vh;
}
#pageLoading .loaing-ani {
  width: 1vh;
  height: 5vh;
  background: #f39800;
  display: inline-block;
  margin: 0 3px;
  animation: loaing-ani linear 1s infinite;
  -webkit-animation: loaing-ani linear 1s infinite;
}
#pageLoading .loaing-ani:nth-child(1) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
#pageLoading .loaing-ani:nth-child(2) {
  animation-delay: -0.15s;
  -webkit-animation-delay: -0.15s;
}
#pageLoading .loaing-ani:nth-child(3) {
  animation-delay: -0.3s;
  -webkit-animation-delay: -0.3s;
}
#pageLoading .loaing-ani:nth-child(4) {
  animation-delay: -0.45s;
  -webkit-animation-delay: -0.45s;
}
#pageLoading .loaing-ani:nth-child(5) {
  animation-delay: -0.6s;
  -webkit-animation-delay: -0.6s;
}
@keyframes loaing-ani {
  0%,
  100%,
  60% {
    transform: scale(1);
  }
  30% {
    transform: scaleY(3);
  }
}
@-webkit-keyframes loaing-ani {
  0%,
  100%,
  60% {
    transform: scale(1);
  }
  30% {
    transform: scaleY(3);
  }
}
#pageWxIos .icon-wx-ios {
  position: absolute;
  top: 3vh;
  right: 3vh;
  height: 10vh;
}
#pageWxIos .tip {
  top: 9vh;
  right: 18vh;
}
#pagePreview,
#pagePreview .mainCanvas {
  position: absolute;
  top: 0;
  left: 0;
}
#pagePreview .mainCanvas {
  z-index: 500;
}
#pagePreview #btnOrigin {
  position: fixed;
  top: 0.5vh;
  right: 0.5vh;
  z-index: 501;
  width: 8%;
}
#pagePreview #btnLottery {
  position: fixed;
  bottom: 6vh;
  z-index: 501;
  width: 25%;
  left: 40%;
}
.maskerMsg,
.page-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.page-bg {
  height: 100%;
  z-index: 1;
}
.maskerMsg {
  z-index: 50000;
  text-align: center;
}
.maskerMsg .masker {
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
}
